html, body, body *,
.toolbar-item, .code-toolbar,
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #282a36 !important;
	color: white;
}

body {
    font-size: 12px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

select, input, button {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.toolbar {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 0.1em;
    margin-right: 1em;
    z-index:100;
    /*
    display: inline-block;
    vertical-align: top;
    position:absolute;
    top: 5px;
    z-index:100;
    */
}